*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container1{
    display: flex;
    justify-content: space-between;
}





.nav{
    display: flex;
    height: 120px;
    width: 100%;
    background-color: black;
    color: white;
    /* border: 3px solid white; */
}


/* img{
    border-bottom: 3px solid white;
} */

.links>ul{
    display: flex;
    justify-content: space-between;
     margin-left: 850px; 
     gap: 50px; 
    font-size: 20px;
    margin-top: 45px;
    
}
.links>ul>li{
   
    list-style: none;
}
.links>ul>li>a{
    color: white;
     text-decoration: none;
} 


.main-container{
    display: flex;
}




.side{
    height: 82.5vh;
    width: 350px;
    /* background-color: rgb(12, 128, 143); */
    background-color: black;
    color: white;
    margin-top: 25px;
    /* border: 7px solid white; */
    
}


.side>h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
     color: white;
     letter-spacing: 10px;
}


.underline{
    border: 1px solid white;
}


.side_r{
height: 82.5vh;
width: 100%;
/* background-color: blue; */
background-color: white;
margin-top: 3px;
display: flex;
}

.side>.list>li{
    padding: 6px;
    margin-left: 54px;
    
}
.side>.list{
    margin-top: 10px;
}


.side_r>div{
    height: 500px;
    width: 500px;
    background-color: black;
    color: white;
    margin: 20px;
    
    
}
.side_r>div>div{
    height: 250px;
    width: 500px;
    background-color: black;
    color:white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
        border: 5px solid white;

}

.side_r>div>div>h1{
    margin-top: 80px;
    font-size: 32px;
}